/* === NORMALIZE */
html {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: auto;
  -webkit-appearance: button;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  appearance: auto;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  appearance: auto;
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}
/* === BASE CSS */
/* === MEDIA */
img,
svg,
video,
canvas,
iframe,
object,
embed {
  display: block;
  max-width: 100%;
  height: auto;
}

/* === LISTS */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* === LINKS */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* === FORM */
button,
input,
select,
textarea {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: none;
  appearance: none;
}

button {
  cursor: pointer;
  user-select: none;
}

input:disabled,
button:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* === TYPOGRAPHY */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
}

/* === BLOCKS */
article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

/* === FONTS */
@font-face {
  font-family: 'Figtree';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/figtree/Figtree-Light.woff2') format('woff2'),
    url('./assets/fonts/figtree/Figtree-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/fonts/figtree/Figtree-Medium.woff2') format('woff2'),
    url('./assets/fonts/figtree/Figtree-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-weight: 800;
  font-style: normal;
  src: url('./assets/fonts/figtree/Figtree-ExtraBold.woff2') format('woff2'),
    url('./assets/fonts/figtree/Figtree-ExtraBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-weight: 300;
  font-style: italic;
  src: url('./assets/fonts/figtree/Figtree-LightItalic.woff2') format('woff2'),
    url('./assets/fonts/figtree/Figtree-LightItalic.woff') format('woff');
  font-display: swap;
}

/* === VARIABLES */
:root {
  /* == COLORS */
  --color-main-100: hsl(0, 0%, 100%);
  --color-main-500: hsl(0, 0%, 42%);
  --color-main-950: hsl(0, 0%, 7%);

  --color-accent-300: hsl(47, 88%, 63%);

  /* == TYPOGRAPHY */
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 800;

  --font-size-xs: clamp(0.75rem, 0.217vw + 0.707rem, 0.875rem);
  --font-size-sm: clamp(0.875rem, 0.219vw + 0.831rem, 1rem);
  --font-size-base: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: clamp(1.25rem, 0.435vw + 1.163rem, 1.5rem);

  --line-height: 150%;
  --letter-spacing: 0;

  /* == SPACING */
  --space-xs: 0.25rem; /*  4px*/
  --space-sm: 0.5rem; /*   8px*/
  --space-md: 0.75rem; /* 12px*/
  --space-lg: 1.5rem; /*  24px*/

  /* == RADIUS */
  --radius-xs: 0.25rem; /*   4px*/
  --radius-sm: 0.625rem; /* 10px*/
  --radius-md: 1.25rem; /*  20px*/

  /* == SHADOW */
  --shadow-card: 8px 8px 0 0 rgba(0, 0, 0, 1);

  /* == TRANSITION */
  --transition-base: 250ms ease-in-out;
}

/* === BODY */
body {
  height: 100vh;
  height: 100dvh;
  background-color: var(--color-accent-300);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Figtree', Arial, Helvetica, sans-serif;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--color-main-950);
}

/* === CARD */
.card {
  width: 327px;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--space-lg);
  background-color: var(--color-main-100);
  padding: var(--space-lg);
  border-radius: var(--radius-md);
  border: 1px inset var(--color-main-950);
  box-shadow: var(--shadow-card);
}

.card__section {
  display: flex;
  justify-content: flex-start;
}

.card__section--img {
  height: 200px;
  width: 100%;
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.card__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__section--info {
  flex-flow: column nowrap;
  gap: var(--space-sm);
}

.card__tag {
  width: fit-content;
  background-color: var(--color-accent-300);
  padding: var(--space-xs) var(--space-md);
  border-radius: var(--radius-xs);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
}

.card__date {
  font-size: var(--font-size-xs);
}

.card__heading {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.card__text {
  width: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-main-500);
}

.card__section--author {
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--space-md);
}

.card__avatar {
  width: 2rem;
  height: 2rem;
}

.card__author {
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: var(--font-weight-bold);
}

/* === DESKTOP */
@media (min-width: 1240px) {
  .card {
    width: 384px;
  }

  .card__heading {
    cursor: pointer;
    transition: var(--transition-base);
  }

  .card__heading:hover,
  .card__heading:active,
  .card__heading:focus {
    color: var(--color-accent-300);
  }
}
